<%- include partials/header.ejs %>

	<div class="container">
         <h1>Hello !</h1>
          
            <p>
                <a href="http://www.tutorialrepublic.com" target="_blank" class="btn btn-success btn-lg"></a>
        </p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <h2>Welcome to portfolio</h2>
              
            </div>
            
            
        </div>
      </div>
    <h2><%= title %></h2>
	</div>
	</div>
    <p>Welcome to <%= message %></p>
  </body>
</html>
